<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>

<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light border border-primary table ">
		<div class="container-fluid">
			<h5>
				<a class="navbar-brand text-success" href="#">Spring Boot and
					Spring JPA</a>
			</h5>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link text-success"
						th:href="@{/listar}">Listado de Productos</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h5 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 text-success"></h5>
		<div class="form-group row">
				<div class="form-group row">
					<table
						class="table table-striped border border-primary table table-bordered">
						<thead class="thead-light">
							<tr>
								<th class="text-success">Nombre</th>
								<th class="text-success">Marca</th>
								<th class="text-success">Precio($)</th>
								<th class="text-success">Cantidad</th>
								<th class="text-success">Estado</th>
								<th class="text-success">Porcentaje(%)</th>
								<th class="text-success">Fecha Registro</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="producto: ${productos}">
								<th th:text="${producto.nombre}"></th>
								<th th:text="${producto.marca}"></th>
								<th th:text="${#numbers.formatDecimal(producto.precio, 0, 'COMMA', 2, 'POINT')}"></th>
								<th th:text="${producto.cantidad}"></th>
								<th th:text="${producto.estado}"></th>
								<th th:text="${#numbers.formatDecimal(producto.porcentaje, 0, 'COMMA', 2, 'POINT')}"></th>
								<th th:text="${producto.createAt}"></th>
							</tr>
						</tbody>
					</table>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
			integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
			integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
			crossorigin="anonymous"></script>
	</div>
</body>
</html>